# Tuple

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.


**Characterstics of a Tuple** <br>
- Ordered
- Unchangeble
- Allows duplicate

- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

## 1.Creating a Tuple

In [1]:
# empty tuple
t1 = ()
print(t1)
print('-'*50)

# create a tuple with single item
t2 = (1,)
print(type(t2))
print('-'*50)

# homogeneous tuple
t3 = (1,2,3,4,5)
print(t3)
print('-'*50)

# heterogeneous tuple
t4 = (1,2.5,True,3,4,5)
print(t4)
print('-'*50)

# 2-d tuple
t5 = (1,2,3,(4,5,6))
print(t5)
print('-'*50)

# using type conversion
t6 = tuple('Hello')
print(t6)

()
--------------------------------------------------
<class 'tuple'>
--------------------------------------------------
(1, 2, 3, 4, 5)
--------------------------------------------------
(1, 2.5, True, 3, 4, 5)
--------------------------------------------------
(1, 2, 3, (4, 5, 6))
--------------------------------------------------
('H', 'e', 'l', 'l', 'o')

## 2. Accessing items

- indexing
- slicing

In [2]:
t = (1,2,3,4,5,6)
print(t[0])

1

In [3]:
t[-2]

5

In [4]:
# Slicing
t[:5]

(1, 2, 3, 4, 5)

In [5]:
t[-1:-4:-1]

(6, 5, 4)

In [6]:
# 2d tuple
t = (1,2,3,(4,5,6))
t[3][1]

5

## 3.Editing items

In [7]:
t = (1,2,3,4,5)
t[1] = 200
print(t) # immutable

TypeError: 'tuple' object does not support item assignment

## 4.Adding items

In [8]:
print(t)
# Can not add elements in the tuple

(1, 2, 3, 4, 5)

## 5.Deleting Items

In [9]:
# Deleting the whole tuple
del t
print(t)

NameError: name 't' is not defined

In [10]:
# We can't delete the subset of elements from the tuple
t = (1,2,3,4,5,6)
del t[-1] # Not Possible

TypeError: 'tuple' object doesn't support item deletion

## 6.Operations on Tuple

- Arithmetic
- Membership
- Loops

In [11]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [12]:
t1*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [13]:
# Membership
2 in t1

True

In [14]:
# loop
for i in t1:
    print(i)

1
2
3
4

## 7.Tuple Functions

In [15]:
# len/min/max/sorted
t = (1,2,3,4,5,6)
print(len(t))
print(min(t))
print(max(t))
print(sorted(t))

6
1
6
[1, 2, 3, 4, 5, 6]

In [16]:
print(sum(t))

21

In [17]:
# count
t = (1,2,3,4,5,6,7)
t.count(20)

0

In [18]:
# index
t.index(7)

6

### Difference between List and Tuple

- Syntax
- Mutability
- Speed(Generally immutable datatypes are faster than mutable datatypes)
- Memory
- Built in functionality
- Error prone
- Usability

In [19]:
# Speed
import time

L = list(range(10000000))
t = tuple(range(10000000))

start = time.time()
for i in L:
    i*7
print('List Time: ', time.time()-start)

start = time.time()
for i in t:
    i*7
print('Tuple Time: ', time.time()-start)

List Time:  1.1682844161987305
Tuple Time:  1.2939860820770264

In [20]:
# Memory
import sys

L = list(range(1000))
t = tuple(range(1000))

print('List Size: ', sys.getsizeof(L))
print('Tuple Size: ', sys.getsizeof(t))

List Size:  8056
Tuple Size:  8040

## 8.Special Syntax

In [21]:
# tuple unpacking
a,b,c = (1,2,3)
print(a)
print(b)
print(c)

1
2
3

In [22]:
a,b,*others = (1,2,3,4,5)
print(a,b)
print(others)

1 2
[3, 4, 5]

In [23]:
# Zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))