# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'sid' , 'age' : 25 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

## 1.Creating a DIct

In [1]:
# empty dict
d = {}
print(d)
print('-'*50)

# 1d dict
d1 = {'name':'SF', 'gender':'male'}
print(d1)
print('-'*50)

# with mixed keys
d2 = {(1,2,3):1, 'hello':'world'}
print(d2)
print('-'*50)

# 2d dict
d3 = {'name': 'sid', 'college': 'kit', 'sem': 8, 'subjects': {'maths':65, 'python':75, 'sql': 86}}
print(d3)
print('-'*50)

# using dict
d4 = dict([(1,1),(2,2),(3,3)])
print(d4)
print('-'*50)

# duplicate keys(not allowed)
d5 = {'name':'SVF', 'name':'Sid'}
print(d5)
print('-'*50)

# mutable items as keys(not allowed)
d6 = {'name':'svf', [1,2,3]:1}
print(d6)

{}
--------------------------------------------------
{'name': 'SF', 'gender': 'male'}
--------------------------------------------------
{(1, 2, 3): 1, 'hello': 'world'}
--------------------------------------------------
{'name': 'sid', 'college': 'kit', 'sem': 8, 'subjects': {'maths': 65, 'python': 75, 'sql': 86}}
--------------------------------------------------
{1: 1, 2: 2, 3: 3}
--------------------------------------------------
{'name': 'Sid'}
--------------------------------------------------

TypeError: unhashable type: 'list'

## 2.Accessing items

In [2]:
my_dict = {'name':'a', 'age':18}

print(my_dict['name'])

# get
print(my_dict.get('age'))

a
18

## 3.Adding key-value pair

In [3]:
my_dict['gender'] = 'male'

my_dict['weight', 'height'] = 65, 175
print(my_dict)

{'name': 'a', 'age': 18, 'gender': 'male', ('weight', 'height'): (65, 175)}

## 4.Remove key:value pair

In [4]:
d = {'name': 'sid', 'college': 'kit', 'sem': 8, 'subjects': {'maths':65, 'python':75, 'sql': 86}}

# pop
d.pop('sem')
print(d)

# popitem
d.popitem()
print(d)

# del
del d['college']

# clear
d.clear()

{'name': 'sid', 'college': 'kit', 'subjects': {'maths': 65, 'python': 75, 'sql': 86}}
{'name': 'sid', 'college': 'kit'}

## 5.Editing key:value pairs

In [5]:
d = {'name': 'sid', 'college': 'kit', 'sem': 8, 'subjects': {'maths':65, 'python':75, 'sql': 86}}
d['name'] = 'SVF'
print(d)

{'name': 'SVF', 'college': 'kit', 'sem': 8, 'subjects': {'maths': 65, 'python': 75, 'sql': 86}}

In [6]:
d['subjects']['sql'] = 87
print(d)

{'name': 'SVF', 'college': 'kit', 'sem': 8, 'subjects': {'maths': 65, 'python': 75, 'sql': 87}}

## 6.Dictionary Operations
- membership
- Iteration

In [7]:
'name' in d # Membership operator works on keys

True

In [8]:
for i in d:
    print(i, d[i])

name SVF
college kit
sem 8
subjects {'maths': 65, 'python': 75, 'sql': 87}

## 7.Dictionary Functions

In [9]:
# len/sorted/min/max
print(len(d))

print(sorted(d))

print(min(d))

print(max(d))

4
['college', 'name', 'sem', 'subjects']
college
subjects

In [10]:
# items/keys/values
print(d.items())
print(d.keys())
print(d.values())

dict_items([('name', 'SVF'), ('college', 'kit'), ('sem', 8), ('subjects', {'maths': 65, 'python': 75, 'sql': 87})])
dict_keys(['name', 'college', 'sem', 'subjects'])
dict_values(['SVF', 'kit', 8, {'maths': 65, 'python': 75, 'sql': 87}])

In [11]:
# update
d1 = {1:2, 2:3, 3:4}
d2 = {3:5, 6:7}

d1.update(d2)

In [12]:
print(d1)

{1: 2, 2: 3, 3: 5, 6: 7}

## 8.Dictionary Comprehension

In [13]:
# print first 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [14]:
# using existing dict
distances = {'pune':230000, 'mumbai':440000, 'hyderabad':750000}

{key:value/1000 for (key,value) in distances.items()}

{'pune': 230.0, 'mumbai': 440.0, 'hyderabad': 750.0}

In [15]:
# using zip
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
temp_C = [30.5, 32.6, 31.8, 33.4, 29.8, 30.2, 29.9]

{i:j for i, j in zip(days, temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [16]:
# Using if condition
products = {'phone':10, 'Laptop':0, 'Charger':32, 'Tablet':0}

{i:j for (i,j) in products.items() if j != 0}

{'phone': 10, 'Charger': 32}

In [17]:
# Nested Comprehension
# print tables of numbers from 2 to 4

{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}